* {
    margin: 0px;
}

#container {
    display: flex;;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    width: 25vw;
    text-align: right;
}

p {
    width: 25vw;
    text-align: left;
}