/* https://matthewjamestaylor.com/bottom-footer */
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: black;
    color: orange;
}

#footer-title {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.footer-link {
    display: inline-block !important;
    line-height: 25px;
}

.footer-margin {
    height: 5px;
    visibility: hidden;
}
