#navigation {
    position: fixed;
    margin-bottom: 25px;
    width: calc(100% - 30px);
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    color: orange;
}

a:not(#navigation-home):hover {
    color: rgb(255, 145, 0);
}

#navigation-links {
    float: right;
}

#navigation-links *:not(:first-child) {
    margin-left: 15px;
}

#navigation-fullscreen {
    position: fixed;
    width: 100%;
    height: calc(100% - 50px);
    left: 0;
    top: 50px;
    background: rgba(51,51,51,0.7);
    z-index: 10;
    display: none;
}

#navigation-fullscreen * {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
}

#navigation-fullscreen-button {
    display: none;
    float: right;
    margin-top: 12.5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#navigation-fullscreen-button-active {
    animation-name: navigation-fullscreen-rotate-active;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

#navigation-fullscreen-button-inactive {
    animation-name: navigation-fullscreen-rotate-inactive;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

#header-margin {
    height: 25px;
    visibility: hidden;
}

@keyframes navigation-fullscreen-rotate-active {
    0% {
        transform: rotate(0deg);
        margin-top: 12.5px;
    }

    100% {
        transform: rotate(180deg);
        margin-top: 10px;
    }
}

@keyframes navigation-fullscreen-rotate-inactive {
    0% {
        transform: rotate(180deg);
        margin-top: 10px;
    }

    100% {
        transform: rotate(360deg);
        margin-top: 12.5px;
    }
}

@media only screen and (max-width: 680px) {
    #navigation-links {
        display: none;
    }

    #navigation-fullscreen-button {
        display: inline-block;
    }
}