.header {
    position: fixed;
    margin-bottom: 25px;
    width: calc(100% - 30px);
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    color: orange;
}

#nav {
    float: right;
}

.margin {
    height: 25px;
    visibility: hidden;
}

body {
    margin: 0px;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: orange;
    text-decoration: none;
    transition: 1s;
}

a:not(#home):hover {
    color: orangered;
}
