body {
    margin: 0px;
    min-height: 100vh;
    position: relative;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: orange;
    text-decoration: none;
}

h1 {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.svg {
    /* https://codepen.io/sosuke/pen/Pjoqqp is totally a life saver */
    filter: invert(65%) sepia(16%) saturate(4295%) hue-rotate(1deg) brightness(104%) contrast(103%);
}
