<div class="footer">
    <div class="wrapper">
        <ul class="info">
            {%- if site.author -%}
            <li>
                <ul class="contact">
                    {%- if site.author.name -%}
                    <li class="contact-name">
                        {{- site.author.name | escape -}}
                    </li>
                    {%- endif -%}
                    {%- if site.author.email -%}
                    <li class="contact-email">
                        <a href="mailto:{{ site.author.email }}">
                            {{- site.author.email -}}
                        </a>
                    </li>
                    {%- endif -%}
                </ul>
            </li>
            {%- endif -%}
            <li>
                {%- include social.html -%}
            </li>
        </ul>
    </div>
</div>