<div class="footer-margin">h</div>
<div class="footer">
    <div class="wrapper">
        <ul class="info">
            {%- if site.author -%}
            <li>
                <ul class="contact">
                    <!-- 
                        Display text that says "Email Us!" if there is a 
                        "site.author.email" parameter in "_config.yml"
                    -->
                    {%- if site.author.email -%}
                    <li class="contact-email">
                        <a href="mailto:{{- site.author.email -}}">
                            Email Us!
                        </a>
                    </li>
                    {%- endif -%}
                </ul>
            </li>
            {%- endif -%}
            <li>
                {%- include social.html -%}
            </li>
        </ul>
    </div>
</div>