<div class="header">
    <div class="wrapper">
        <div class="navigation">
            <a class="navigation-home" href="/">Arcturus Robotics</a>

            <ul class="navigation-links">
                {%- for item in site.data.navigation -%}
                <li class="navigation-link">
                    <a href="{{ item.url }}">
                        {{- item.name | escape -}}
                    </a>
                </li>
                {%- endfor -%}
            </ul>
        </div>
    </div>
</div>