<div class="header">
    <div class="wrapper">
        <div class="navigation">
            <a class="navigation-home" href="/">Arcturus Robotics</a>

            <ul class="navigation-links">
                {%- for item in site.data.navigation -%}
                <li class="navigation-link">
                    <a href="{{ item.url }}">
                        {{- item.name | escape -}}
                    </a>
                </li>
                {%- endfor -%}
            </ul>
            <!-- Due to CSS, this button is only displayed if the window is small enough. -->
            <img alt="fullscreen navigation button" class="svg" id="navigation-fullscreen-button"
                onclick="toggleNav();" src="/assets/image/arrow.svg">
        </div>
    </div>
</div>
<div class="header-margin">h</div>
<div id="navigation-fullscreen">
    {%- for item in site.data.navigation -%}
    <li class="navigation-link">
        <a href="{{ item.url }}">
            {{- item.name | escape -}}
        </a>
    </li>
    {%- endfor -%}
</div>