#resources {
    margin-left: auto;
    margin-right: auto;
}

#resources-mobile {
    display: none;
}

.resources-button {
    width: calc(500px / 1.5);
    height: calc(250px / 1.5);
    background-color: black;
    color: orange;
    font-size: 20pt;
    margin: 5px;
    border: 0px;
}

a .resources-button {
    cursor: pointer;
}

.resources-button-small {
    height: calc(120px / 1.5);
}

@media only screen and (max-width: 705px) {
    /* If small screen */

    #resources {
        display: none;
    }

    #resources-mobile {
        display: block;
    }

    #resources-mobile a button, #resources-mobile a {
        width: 290px;
        margin-left: auto !important;
        margin-right: auto !important;
        display: block;
    }
}