@media (prefers-color-scheme: dark) {
    *:not(#navigation-fullscreen-button):not(.arcturus-text):not(.resources-button):not(.highlight):not(span):not(code) {
        color: $white;
        background-color: $black !important;
    }

    a, .resources-button {
        color: $color !important;
    }

    .resources-button {
        background-color: rgb(31, 31, 31) !important;
    }

    h1.arcturus-text {
        background-color: rgba(0, 0, 0, 0) !important;
        color: $black;
    }

    code {
        background: #202020 !important;
    }
}