@media (prefers-color-scheme: dark) {
    h1.arcturus-text {
        background-color: rgba(0, 0, 0, 0) !important;
        color: $black;
    }

    a.navigation-link {
        background: rgba(51, 51, 51, 0.7) !important;
    }

    *, body, html {
        color: $white;
        background-color: $black !important;
    }
}