// Non dark-mode, but it makes the colors a bit easier on the eyes

html, body {
    background-color: $white;
}

.header, .footer {
    background-color: $black;
}

.content {
    color: $black;
    background-color: $white;
}