// MOBILE HEADER

#navigation-fullscreen-button {
    display: none;
    float: right;
    margin-top: 12.5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    user-select: none;
    transition: all 0.5s ease;
    filter: invert(63%) sepia(36%) saturate(3314%) hue-rotate(3deg) brightness(107%) contrast(107%);
}

@media screen and (max-width: 680px) {
    #navigation-links {
        display: none;
    }

    #navigation-fullscreen-button {
        display: block;
    }
}

#navigation-fullscreen-container {
    position: fixed;
    width: 100%;
    height: calc(100% - 50px);
    left: 0;
    top: 50px;
    z-index: 1000;
    opacity: 0;
    background: rgba(51, 51, 51, 0.7);
    transition: all 0.5s ease;
    pointer-events: none;
    user-select: none;

    * {
        display: block;
        height: 50px;
        line-height: 50px;
        font-size: 25px;
        text-align: center;
    }
}

.navigation-fullscreen-button-active {
    transform: rotate(180deg);
    margin-top: 10px;
}

.navigation-fullscreen-container-active {
    opacity: 1 !important;
    pointer-events: all !important;
    user-select: all !important;
}

// MOBILE HEADER
// CSS to make navigation work on small devices.