$color: orange;
$black: #010101;
$white: #fefefe;


* {
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: $white;
}

h1 {
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

a {
    color: $color;
    text-decoration: none;
}

p {
    margin-left: 10px;
    margin-right: 10px;
}

.header, .footer {
    color: $color;
    background-color: $black;

    ul {
        list-style: none;
        margin: 0px;
        padding-left: 5px;

        li {
            display: inline;
            list-style-type: none;
            padding-right: 20px;
        }
    }

    ul.info {
        padding-top: 7px;
        
        ul.social {

            li {
                padding-right: 5px;
            }
        }
    }
}

.header {
    $height: 50px;
    $extra: 15px;

    height: $height;
    line-height: $height;
    padding-left: $extra;
    padding-right: $extra;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.contact {
    float: left;
}

.social {
    float: right;
}

.navigation-links {
    float: right;

    &:not(:first-child) {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 680px) {
    .navigation-links {
        display: none;
    }

    .navigation-fullscreen-button {
        display: inline-block;
    }
}

.arcturus {
    position: relative;
    height: auto;
    width: 100%;
    background-color: black; // black and not $black for the image
    text-align: center;
}

.arcturus-image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.arcturus-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
    font-size: 5vmin;
    // https://stackoverflow.com/a/13427256/10637301
    text-shadow: 2px 0 0 $color, -2px 0 0 $color, 0 2px 0 $color, 0 -2px 0 $color, 1px 1px $color, -1px -1px 0 $color, 1px -1px 0 $color, -1px 1px 0 $color;
}

.content {
    color: $black;
    background-color: $white;
    padding: 0px;
    position: relative;
    min-height: calc(100vh - 130px)
}

.invert {
    filter: invert(100%);
}

.footer-margin, .header-margin {
    visibility: hidden;
}
  
.footer-margin {
    height: 30px;
}
  
.header-margin {
    height: 50px;
}

// Mobile Header

@media screen and (max-width: 680px) {
    #navigation-links {
        display: none;
    }

    #navigation-fullscreen-button {
        display: block;
    }
}

#navigation-fullscreen {
    position: fixed;
    width: 100%;
    height: calc(100% - 50px);
    left: 0;
    top: 50px;
    z-index: 1000;
    display: none;
    background: rgba(51, 51, 51, 0.7);
    animation: fade-out;

    * {
        display: block;
        height: 50px;
        line-height: 50px;
        font-size: 25px;
        text-align: center;
    }
}

#navigation-fullscreen-button {
    display: block;
    float: right;
    margin-top: 12.5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 1.5s ease;
}

.navigation-fullscreen-button-active {
    transform: rotate(180deg);
    margin-top: 10px;
}

.navigation-fullscreen-container-active {
    animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

// End Mobile Header

// Resources

#resources {
    margin-left: auto;
    margin-right: auto;
}

#resources-mobile {
    display: none;
}

.resources-button {
    width: calc(500px / 1.5);
    height: calc(250px / 1.5);
    background-color: black;
    color: orange;
    font-size: 20pt;
    margin: 5px;
    border: 0px;
}

a .resources-button {
    cursor: pointer;
}

.resources-button-small {
    height: calc(120px / 1.5);
}

@media screen and (max-width: 705px) {
    // If small screen

    #resources {
        display: none;
    }

    #resources-mobile {
        display: block;

        a, a button {
            width: 290px;
            margin-left: auto !important;
            margin-right: auto !important;
            display: block;
        }
    }
}

// End Resources