// Width n' Height n' stuff that doesn't change across page or theme.

$color: #ffa500;
$black: #010101;
$white: #fefefe;

* {
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

a {
    color: $color;
    text-decoration: none;
}

p {
    margin-left: 10px;
    margin-right: 10px;
}

.header, .footer {
    color: $color;

    ul {
        list-style: none;
        margin: 0;
        padding-left: 5px;

        li {
            display: inline;
            list-style-type: none;
            padding-right: 20px;
        }
    }

    ul.info {
        padding-top: 7px;
        
        ul.social {

            li {
                padding-right: 5px;
            }
        }
    }
}

.header {
    $height: 50px;
    $extra: 15px;

    height: $height;
    line-height: $height;
    padding-left: $extra;
    padding-right: $extra;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.contact {
    float: left;
}

.social {
    float: right;
}

.navigation-links {
    float: right;

    &:not(:first-child) {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 680px) {
    .navigation-links {
        display: none;
    }

    .navigation-fullscreen-button {
        display: inline-block;
    }
}

.arcturus {
    position: relative;
    height: auto;
    width: 100%;
    background-color: black; // black and not $black for the image
    text-align: center;
}

.arcturus-image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.arcturus-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 5vmin;
    // https://stackoverflow.com/a/13427256/10637301
    text-shadow: 2px 0 0 $color, -2px 0 0 $color, 0 2px 0 $color, 0 -2px 0 $color, 1px 1px $color, -1px -1px 0 $color, 1px -1px 0 $color, -1px 1px 0 $color;
}

.content {
    padding: 0;
    position: relative;
    min-height: calc(100vh - 130px);
    margin-left: 10px;
    margin-right: 10x;
}

.invert {
    filter: invert(100%);
}

.footer-margin, .header-margin {
    visibility: hidden;
}
  
.footer-margin {
    height: 30px;
}
  
.header-margin {
    height: 50px;
}
