@use "variables";

.header {
    border-top: 5px solid $color-dark;
    border-bottom: 5px solid $color-dark;
    min-height: $spacing * 1.865;
    position: relative;
}

.content {
    padding: $spacing 0;
}

.footer {

}