/* See https://matthewjamestaylor.com/bottom-footer */

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    color: orange;
}

#footer-links * {
    display: inline-block !important;
    width: 20px;
    height: 20px;
    line-height: 30px;
    margin: 2.5px;
}

.footer-margin {
    height: 5px;
    visibility: hidden;
}