---
layout: default
---

<h1>Blog Posts in {{ page.category }}</h1>

<ul>
    {% for post in site.categories[page.category] %}
    <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>Posted by {%- if post.author -%}{{ post.author | append: " " | prepend: " " }}{%- else -%}???{%- endif -%} on
            {%- if post.publish_date -%}{{ post.publish_date | append: " " | prepend: " " }}{%- else -%}???{%- endif -%}
            in {{ post.categories | join: ", " }}</p>
        {{ post.excerpt }}
    </li>
    {% endfor %}
</ul>