---
layout: default
---

<div class="arcturus">
    <img class="arcturus-image" src="/assets/image/arcturus-large.webp"
        alt="The star Arcturus brightly glowing orange in space." draggable="false"
        srcset="/assets/image/arcturus-extralarge.webp 1310w, /assets/image/arcturus-large.webp 983w, /assets/image/arcturus-medium.webp 655w, /assets/image/arcturus-small.webp 432w"
        sizes="100vw">
    <h1 class="arcturus-text">
        {%- if page.title -%}
        {{- page.title -}}
        {%- elsif site.title -%}
        {{- site.title -}}
        {%- else -%}
        Home
        {%- endif -%}
    </h1>
</div>

{{- content -}}