---
layout: default
---

<!-- CSS for blog posts only! -->
<style>
    @import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        width: auto;
    }

    .highlight {
        margin: 10px;
        border-radius: 2.5px;
        padding: 2px;
    }

    code {
        border-radius: 2.5px;
        padding: 1px;
    }

    .coolstuff {
        margin: 10px;
    }

    .coolstuff>*,
    .coolstuff>*>*:not(.navigation-home),
    .coolstuff>*>*>* {
        font-family: 'Inter', sans-serif;
    }

    .post-info {
        text-align: center;
        margin: 0;
    }
</style>

<!-- HTML wrappers for dummies -->
<div class="coolstuff">
    <!-- Give the post some meta info, if it has any -->
    <h4 class="post-info">
        Posted by
        {% if page.author %}
        {{ page.author }}
        {% else %}
        Anonymous
        {% endif %}
        {% if page.date %}
        on {{ page.date | date: "%B %d, %y" }}
        {% endif %}
    </h4>

    <!-- The actual content -->

    {{- content -}}
</div>