---
layout: default
---

<!-- CSS for blog posts only! -->

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    h1 {
        display: inline-block;
        width: auto;
        margin-bottom: 0px;
    }

    .wrapper>*, .wrapper>*>*:not(.navigation-home), .wrapper>*>*>* {
        font-family: 'Roboto', 'Calibri', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    .post-info {
        margin: 0px;
    }
</style>

<!-- Give the page a title if it has one -->

{%- if page.title -%}
<h1>{{- page.title -}}</h1>
{%- endif -%}

<!-- Give the post some meta info, if it has any -->

<h4 class="post-info">
    Posted by
    {% if page.author %}
    {{ page.author }}
    {% else %}
    Anonymous
    {% endif %}
    {% if page.date %}
    on {{ post.date | date: "%b %d, %y" }}
    {% endif %}
</h4>

<!-- The actual content -->

{{- content -}}